body{
    padding: 0px;
    background-color: #FFFFFF;
}

[class*="col"] [class*="row"]{
    padding: 0px;
    margin: 0px;
}

header{
    background-image: url('../images/header.png');
    background-size: cover;
    color: #FFFFFF;
    height: 180px;
}

.container{
    padding-left: 100px;
    padding-right: 100px;
}

[id*="text"]{
    text-align: justify-all;
}

#text1{
    font-family: "Open Sans";
    font-size: 14pt;
}

#text2{
    font-family: "Open Sans";
    font-size: 8pt;
}

#footer{
    background-color: #FFFFFF;
    min-height: 50px;
}

.nav-item{
    text-align: center;
}

.grey{
    background-color: rgb(242, 242, 240);
    border-radius: 1px 1px 1px 1px;
}


.blue{
    background-color: rgb(20, 67, 139);
}

.green_font{
    color: rgb(89, 183, 12);
    font-weight: bold;
}

.blue_font{
    color: rgb(20, 67, 139);
    font-style: italic;
    font-size: smaller;
}

.form-group{
    border: 1px solid red;
}

.nav-item{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*MEDIA QUERIES*/

@media screen and (max-device-width: 576px) {



}